body {
    /* Display */
    margin: 0;

    /* Colour */
    color: white;
    background-color: #F8F0FB;

    /* Font */
    font-family: 'Montserrat', sans-serif;
}

header {
    /* Display */
    display: grid;
    grid-template-columns: 870.4px 102.4px 51.2px;
    align-items: center;
    border-bottom: 1px white solid;
    height: 63px;

    /* Colour */
    color: white;
    background-color: #211A1D;

}

.header-link {
    all: unset;

    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 100%;

    /* Colour */
    color: white;
    background-color: #211A1D;

    /* Font */
    text-decoration: none;
}

.header-link:hover {
    color: rgb(228, 158, 158);
    background-color: #392c32;
    cursor: pointer;
}

.padding-lol {
    padding-left: 5px;
}

.title {
    /* Display */
    padding-left: 40px;
    font-size: 20px;
}

h1 {
    /* Display */
    margin: 50px 0;

    /* Colour */
    color: #211A1D;

    /* Text */
    font-size: medium;
    text-align: center;
}

.h1-container {
    border-bottom: solid #211A1D 2px;
    width: 910px;
    margin: 0 53px 0 53px;
}

.notifications-and-due {
    /* Display */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 15vw;
}

.notifications-container {
    /* Display */
    width: 40%;
}

.login-form-container {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.login-form {
    /* Display */
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    padding: 20px;
    border: #211A1D solid 2px;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    /* Colour */
    color: #211A1D;
    background-color: #8c948c;
}

.register-form {
    /* Display */
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    padding: 20px;
    border: #8c948c solid 2px;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    /* Colour */
    color: white;
    background-color: #211A1D;
}

label {
    /* Text */
    font-size: 12px;
}

.basic-input {
    /* Display */
    margin-bottom: 10px;
    width: 96%;
}

.button-container {
    /* Display */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basic-button {
    all: unset;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 40%;
    height: 25px;
    border-radius: 10px;

    /* Colour */
    background-color: rgb(101, 101, 239);
    color: white;

    /* Text */
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

.basic-button:hover {
    background-color: rgb(163, 163, 240);
    cursor: pointer;
}

.fake-details {
    /* Display */
    padding-top: 8px;

    /* Text */
    text-decoration: underline;
    font-size: 8px;
}

.fake-details:hover {
    /* Colour */
    color: #8c948c;

    cursor: pointer;
}

.taskboards-container {
    /* Display */
    display: grid;
    grid-template-columns: 145.5px 145.5px 145.5px 145.5px 145.5px 145.5px;
    justify-items: center;
    margin: 20px 70px 0 70px;

    /* Text */
    text-align: center;
}

.taskboard {
    /* Display */
    height: 150px;
    width: 120px;
    padding-top: 4px;
    margin-bottom: 20px;
    border-radius: 10px;
    flex-shrink: 0;
    border: solid transparent 1px;
    
    /* Colour */
    background-color: #b3bdb3;
    color: #211A1D;
}

.taskboard:hover {
    /* Colour */
    background-color: #b9c5b9;
    cursor: pointer;
    border-color: #211A1D;
}

.taskboard-link {
    /* Display */
    display: flex;
    flex-direction: column;

    /* Text */
    height: 150px;
    text-decoration: none;
}

.taskboard-img {
    /* Display */
    width: 85%;
    height: 70%;
    margin: 7.5%;
    margin-bottom: 0;

    /* Colour */
    background-color: white;
}


.taskboard-txt-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36.27px;
    

    /* Colour */
    color: #211A1D;

    /* Text */
    font-weight: 600;
}

.taskboard-txt {
    width: 110px;
    padding-top: 8px;
    padding-left: 5px;
}

#new-taskboard {
    /* Display */
    height: 150px;
    width: 120px;
    padding-top: 4px;
    border: solid transparent 1px;
    
    /* Colour */
    background-color: #8c948c;
    color: #211A1D;
}

#new-taskboard:hover {
    /* Colour */
    background-color: #b9c5b9;
    cursor: pointer;
    border-color: #211A1D;
}

.big-plus {
    /* Display */
    padding: 10%;

    /* Colour */
    color: #211A1D;

    /* Text */
    text-align: center;
    font-size: 80px;
}

.taskboard-updated {
    /* Display */
    width: 110px;
    margin-top: 10px;
    padding: 10px 0 10px 0;
    margin-left: 5px;
    font-size: 12px;
    border-top: #211A1D solid 1px;
    border-bottom: #211A1D solid 1px;

    /* Colour */
    color: #57434c;
}

.last-updated {
    /* Text */
    font-size: 10px;

    /* Colour */
    color: #45353d;
}

.delete-taskboard-container {
    /* Display */
    display: flex;
    justify-content: end;
    margin: 5px 5px 0 5px;
    padding: 5px 5px 5px 0;
}

.delete-taskboard {
    /* Display */
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: #211A1D solid 1px;

    /* Colour */
    color: #211A1D;
}


.delete-taskboard:hover {
    background-color: #252123;
    color: white;

    cursor: pointer;
}

.delete-taskboard-popup {
    /* Position */
    position: absolute;
    top: 0;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* Colour */
    background-color: rgba(0,0, 0, 0.5);
}

.delete-taskboard-modal {
    /* Diplay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    border-radius: 10px;
    border: #211A1D solid 2px;

    /* Colour */
    background-color: #d4e0d4;
    color: #392c32;
}

.modal-buttons {
    /* Diplay */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.yes {
    /* Diplay */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    border-radius: 8px;

    /* Colour */
    background-color: rgb(102, 102, 252);
    color: white;
}
.yes:hover {
    /* Colour */
    background-color: rgb(50, 50, 157);

    cursor: pointer;
}

.no {
/* Diplay */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    border-radius: 8px;

    /* Colour */
    background-color: rgb(253, 88, 88);
    color: white;
}
.no:hover {
    /* Colour */
    background-color: rgb(243, 38, 38);

    cursor: pointer;
}

.spinner-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1023px;
    height: 150px;
}

.spinner {
    /* Display */
    width: 25px;
    height: 25px;
    border: 12px solid #8c948c;
    border-top: 12px solid #211A1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}