body {
    /* Display */
    margin: 0;

    /* Colour */
    color: white;
    background-color: #F8F0FB;

    /* Font */
    font-family: 'Montserrat', sans-serif;
}

header {
    /* Display */
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px white solid;

    /* Colour */
    color: white;
    background-color: #211A1D;

}

.title {
    /* Display */
    padding-left: 20px;
}

h1 {
    /* Display */
    margin: 50px 0;

    /* Colour */
    color: #211A1D;

    /* Text */
    font-size: medium;
    text-align: center;
}

.notifications-and-due {
    /* Display */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 15vw;
}

.notifications-container {
    /* Display */
    width: 40%;
}

.login-form-container {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    /* Display */
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: #211A1D solid 2px;

    /* Colour */
    color: #211A1D;
}