:root {
    /* Colours */
    --background-1: black;
    --background-1-hover: rgb(51, 51, 51);
    --background-2: rgb(21, 19, 19);
    --background-3: rgb(48, 27, 27);
    --background-4: #1dba59;
    --background-4-hover: #80fcb0;

    --text-1: white;
    --text-2: black;
}

body {
    /* Display */
    margin: 0;
    min-height: 100vh;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-1);

    /* Font */
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
    /* Display */
    display: grid;
    grid-template-columns: 1305.5px 153.6px 76.8px;
    align-items: center;
    border-bottom: 2px var(--text-1) solid;
    height: 94.5px;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-3);

}

.header-link {
    all: unset;

    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 100%;

    /* Colour */
    color: white;

    /* Font */
    font-size: 24px;
    text-decoration: none;
}

.header-link:hover {
    color: var(--background-4-hover);
    background-color: var(--background-1-hover);
    cursor: pointer;
}

.padding-lol {
    padding-left: 5px;
}

.title {
    /* Display */
    padding-left: 60px;
    font-size: 30px;
}

h1 {
    /* Display */
    margin: 50px 0;

    /* Colour */
    color: var(--text-1);

    /* Text */
    font-size: 25px;
    text-align: center;
}

.h1-container {
    border-bottom: solid var(--text-1) 2px;
    width: 1365px;
    margin: 0 53px 0 53px;
}

/* LOGIN / REGISTER */

.login-form-container {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.login-form {
    /* Display */
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    padding: 30px;
    border: var(--text-1) solid 3px;
    border-right: none;
    border-top-left-radius: 22.5px;
    border-bottom-left-radius: 22.5px;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-2);
}

.register-form {
    /* Display */
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    padding: 30px;
    border: var(--text-1) solid 3px;
    border-left: none;
    border-top-right-radius: 22.5px;
    border-bottom-right-radius: 22.5px;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-3);
}

h2 {
    font-size: 36px;
}

label {
    /* Text */
    font-size: 18px;
}

.basic-input {
    /* Display */
    height: 25px;
    margin-bottom: 15px;
    width: 96%;

    /* Text */
    font-size: 22px;
}

.button-container {
    /* Display */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basic-button {
    all: unset;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 40%;
    height: 37.5px;
    border-radius: 15px;

    /* Colour */
    background-color: var(--background-4);
    color: var(--text-1);

    /* Text */
    text-align: center;
    font-weight: 600;
    font-size: 19.5px;
}

.basic-button:hover {
    background-color: var(--background-4-hover);
    cursor: pointer;
}

.fake-details {
    /* Display */
    padding-top: 12px;

    /* Text */
    text-decoration: underline;
    font-size: 12px;
}

.fake-details:hover {
    /* Colour */
    color: var(--background-4);

    cursor: pointer;
}

/* Taskboards */

.sort-container {
    /* Display */
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 105px;

    /* Colour */
    color: var(--text-1);

    /* Text */
    font-size: 21px;
}

select {
    /* Display */
    margin-left: 15px;

    /* Text */
    font-size: 18px;
}

.taskboards-container {
    /* Display */
    display: grid;
    grid-template-columns: 218.25px 218.25px 218.25px 218.25px 218.25px 218.25px;
    justify-items: center;
    margin: 30px 105px 0 105px;

    /* Text */
    text-align: center;
}

.taskboard {
    /* Display */
    height: 225px;
    width: 180px;
    padding-top: 6px;
    margin-bottom: 30px;
    border-radius: 15px;
    flex-shrink: 0;
    border: solid var(--background-4-hover) 1px;

    /* Colour */
    background-color: var(--background-1-hover);
    color: var(--text-1);
}

.taskboard:hover {
    /* Colour */
    background-color: var(--background-1);
    cursor: pointer;
    border-color: var(--text-1);
}

.taskboard-link {
    /* Display */
    display: flex;
    flex-direction: column;

    /* Text */
    height: 225px;
    text-decoration: none;
}

.taskboard-txt-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 54.41px;


    /* Colour */
    color: var(--text-1);

    /* Text */
    font-weight: 600;
}

.taskboard-txt {
    /* Display */
    width: 165px;
    padding-top: 12px;
    padding-left: 7.5px;

    /* Text */
    font-size: 20px;
}

#taskboard-txt-colour {
    /* Colour */
    color: var(--text-1);
}

#new-taskboard {
    /* Display */
    height: 225px;
    width: 180px;
    padding-top: 6px;
    border: solid var(--background-4-hover) 1px;

    /* Colour */
    background-color: var(--background-2);
    color: var(--text-1);
}

#new-taskboard:hover {
    /* Colour */
    background-color: var(--background-1);
    cursor: pointer;
    border-color: var(--background-4);
}

.big-plus {
    /* Display */
    padding: 10%;

    /* Text */
    text-align: center;
    font-size: 120px;
}

.taskboard-updated {
    /* Display */
    width: 165px;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    margin-left: 7.5px;
    font-size: 18px;
    border-top: #211A1D solid 1px;
    border-bottom: #211A1D solid 1px;

    /* Colour */
    color: var(--background-4-hover);
}

.last-updated {
    /* Text */
    font-size: 15px;

    /* Colour */
    color: var(--text-1);
}

.delete-taskboard-container {
    /* Display */
    display: flex;
    justify-content: end;
    margin: 7.5px 7.5px 0 7.5px;
    padding: 7.5px 7.5px 7.5px 0;
}

.delete-taskboard {
    /* Display */
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: var(--text-1) solid 1px;

    /* Colour */
    color: var(--text-1);
}


.delete-taskboard:hover {
    background-color: var(--text-1);
    color: var(--background-1);

    cursor: pointer;
}

/* DELETE MODAL */

.delete-taskboard-popup {
    /* Position */
    position: absolute;
    top: 0;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* Colour */
    background-color: rgba(0, 0, 0, 0.5);
}

.delete-taskboard-modal {
    /* Diplay */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 180px;
    border-radius: 15px;
    border: #211A1D solid 3px;

    /* Colour */
    background-color: #d4e0d4;
    color: #392c32;
}

.modal-text {
    text-align: center;
    height: 54.41px;
}

.modal-buttons {
    /* Diplay */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 22.5px;
}

.delete {
    /* Diplay */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.5px;
    height: 37.5px;
    border-radius: 12px;

    /* Colour */
    background-color: rgb(253, 88, 88);
    color: white;
}

.delete:hover {
    /* Colour */
    background-color: rgb(243, 38, 38);

    cursor: pointer;
}

.back {
    /* Diplay */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 99px;
    border: #211A1D solid 1px;

    /* Colour */
    color: black;

    /* Text */
    font-size: 27px;
}

.back:hover {
    /* Colour */
    background-color: #8c948c;

    cursor: pointer;
}

/* SPINNER */

.spinner-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1534.5px;
    height: 225px;
}

.spinner {
    /* Display */
    width: 37.5px;
    height: 37.5px;
    border: 18px solid #8c948c;
    border-top: 18px solid #211A1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}