body {
    /* Display */
    margin: 0;
    width: max-content;

    /* Colour */
    color: white;
    background-color: #F8F0FB;

    /* Font */
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    /* Display */
    display: grid;
    grid-template-columns: 15fr 3fr 2fr;
    min-width: 100vw;
    justify-items: center;
    align-items: center;
    border-bottom: 1px white solid;
    box-sizing: border-box;

    /* Colour */
    color: white;
    background-color: #211A1D;

}

.header-link {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    /* Colour */
    color: white;
    background-color: #211A1D;

    /* Font */
    text-decoration: none;
}

.header-link:hover {
    color: rgb(228, 158, 158);
    background-color: #392c32;
}

.new-taskboard {
    cursor: pointer;
}

/* Section 1 */

.title-container {
    /* Display */
    padding-left: 20px;
    justify-self: start;
}

.title {
    /* Display */
    margin-left: 20px;
    height: 23px;
    white-space: pre;
    width: auto;

    /* Text */
    font-weight: 700;
    font-size: 20px;
}

.title:hover {
    /* Display */
    outline: solid rgb(108, 108, 108) 1px;
}

.change-title {
    all: unset;
    white-space: pre;

    /* Display */
    height: 22px;
    margin: 18px 0 18px 17.466px;
    border: solid white 1px;
    padding: 2px;
    width: auto;

    /* Colour */
    color: white;
    background-color: black;

    /* Text */
    font-size: 20px;
    font-weight: 700;
}

.container-container{
    /* Display */
    display: flex;
    align-items: flex-start;
    
}

/* Stage related CSS */

/* New Stage */

.new-stage-container {
    /* Display */
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    padding: 5px 0 5px 0;

    /* Colour */
    color: black;
    background-color: #CAD5CA;

    /* Text */
    font-weight: 600;
}

.new-stage-container:hover {
    /* Colour */
    color: black;
    background-color: rgb(159, 158, 158);

    cursor: pointer;
}

i {
    /* Display */
    padding-left: 5px;
    padding-right: 5px;
} 

.new-stage-text {
    flex-grow: 1;
}

.new-stage-expanded-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    flex-shrink: 0;
    width: 190px;
    height: 60px;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    margin: 20px;

    /* Colour */
    color: black;
    background-color: #CAD5CA;
}

.stage-name-input {
    /* Display */
    width: 96%;
}

.stage-name-submit {
    all: unset;

    /* Display */
    height: 25px;
    width: 80px;
    border-radius: 99px;

    /* Colour */
    background-color: rgb(55, 55, 251);
    color: white;

    /* Text */
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.stage-name-submit:hover {
    /* Colour */
    background-color: rgb(112, 112, 249);

    cursor: pointer;
}

.close-stage-input {
    all: unset;

    /* Display */
    height: 22px;
    width: 25px;
    border: transparent solid 1px;
    padding-top: 1.5px;
    border-radius: 99px;

    /* Colour */
    color: black;

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 15px;
}

.close-stage-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    background-color: #8c948c;

    cursor: pointer;
}

/* Stages */

.stage {
    /* Display */
    flex-shrink: 0;
    align-items: center;
    width: 190px;
    border-radius: 10px;
    margin: 20px;
    padding-left: 5px;
    padding-right: 5px;

    /* Colour */
    color: #211A1D;
    background-color: #CAD5CA;
}

.name-and-delete {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    border-bottom: #3b2f34 1px solid;
}

.stage-name {
    /* Font */
    flex-grow: 1;
    font-weight: 600;
    height: 18px;
    border: 1px solid transparent;
}
.stage-name:hover {
   /* Colour */
    background-color: #acbcac;
    cursor: pointer;
}

.rename-stage {
    /* Display */
    width: 167px;
    padding: 0;
    border: #211A1D solid 1px;
    height: 18px;

    /* Text */
    font-weight: 600;
    font-size: 16px;
}

.more-options {
    /* Position */
    position: relative;
    
}

.move-left {
    /* Position */
    position: absolute;
    left: 25px;
    top: -7px;

    /* Colour */
    color: rgb(19, 134, 43);
    background-color: white;

    /* Display */
    height: 15px;
    width: 15px;
    border: rgb(19, 134, 43) solid 1px;
    border-radius: 5px;
    padding: 5px 4px 5px 6px;
}

.move-left:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.fa-arrow-left {
    padding: 0;
    margin: 0;
}

.move-right {
    /* Position */
    position: absolute;
    left: 25px;
    top: 23px;

    /* Colour */
    color: rgb(96, 29, 254);
    background-color: white;

    /* Display */
    height: 15px;
    width: 15px;
    border: rgb(96, 29, 254) solid 1px;
    border-radius: 5px;
    padding: 5px 4px 5px 6px;
}

.move-right:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.fa-arrow-right {
    padding: 0;
    margin: 0;
}

.delete-stage {
    /* Position */
    position: absolute;
    left: 25px;
    top: 53px;

    /* Display */
    height: 15px;
    width: 15px;
    border: red solid 1px;
    border-radius: 5px;
    padding: 6px 5px 4px 5px;

    /* Colour */
    color: rgb(131, 5, 5);
    background-color: white;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.delete-stage:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.fa-trash {
    padding: 0;
}

/* Task CSS */

/* Task */

.task-container {
    /* Position */
    position: relative;
}

.task {
    /* Position */
    position: relative;

    /* Display */
    width: 190px;
    min-height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    /* Colour */
    color: #211A1D;
    background-color: #8c948c;
}

.task-hover:hover {
    /* Colour */
    color: #211A1D;
    background-color: #a8b1a8;

    cursor: pointer;
}

.task-text {
    /* Display */
    padding-top: 7px;
    padding-left: 5px;

    /* Font */ 
    font-size: 15px;
    font-weight: 200;
}

.description-indicator {
    /* Display */
    padding-top: 3px;
    padding-bottom: 5px;
    margin-left: 0;
    padding-left: 0;
    grid-column: 1;
    grid-row: 1;
}

.more-button {
    /* Font */
    font-size: 10px;
}

/* Task Expanded */

.task-expanded-container {
    /* Position */
    position: absolute;
    top: 0;
    z-index: 2;

    /* Display */
    width: 190px;
    border-radius: 10px;

    /* Colour */
    color: #211A1D;
    background-color: #adb7ad;
} 

.expanded-task-text {
    /* Display */
    display: flex;
    width: 180px;
    border-bottom: #211A1D solid 1px;
    margin: 0 5px 0 5px;
}

.task-name {
    /* Display */
    flex-grow: 1;
    margin: 6.5px 0 4px 0;
    border: transparent solid 1px;

    /* Font */ 
    font-size: 15px;
    font-weight: 600;
}
.task-name:hover {
    /* Colour */
    background-color: #acbcac;
    cursor: pointer;
}

.rename-task {
    all: unset;

    /* Display */
    width: 178.933px;
    margin: 6.5px 0 4px 0;
    padding: 0;
    border: black 1px solid;

    /* Colour */
    background-color: white;

    /* Font */ 
    font-size: 15px;
    font-weight: 600;
    word-break: break-word;
    overflow: hidden;
}

.colour-container {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 8px 5px;

    /* Font */ 
    font-size: 13px;
    font-weight: 600;
}

.task-colour-container {
    /* Position */
    position: relative;

    /* Display */
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 121px;
    height: 23.86px;
    margin-right: 12px;
    border: black solid 1px;
    border-radius: 99px;
}

.task-colour-container:hover {
    /* Display */
    border: white solid 1px;
    background-color: white;

    cursor: pointer;
}

.task-colour {
    /* Display */
    height: 12.86px;
    padding-top: 1px;
    width: 111px;
    border-radius: 99px;

    /* Text */
    font-weight: 300;
    font-size: 10px;
    text-align: center;
}

.colour-title {
    /* Display */
    height: 16px;
}

.task-colour-list {
    /* Position */
    position: absolute;
    z-index: 3;
    top: -0.533px;
    left: -0.533px;

    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 121px;
    height: 110px;
    border-radius: 11px;
    border: 1px solid black;
    padding: 5px 0 5px 0;

    /* Colour */
    background-color: #8c948c;
}
.task-colour-list:hover {
    cursor: default;
}

.task-colour-select {
    /* Display */
    display: flex;
    justify-content: center;
    border: transparent solid 1px;
    border-radius: 99px;
    width: 111px;
    height: 13.867px;
    border: white 1px solid;
}

.task-colour-select:hover {
    border: rgb(0, 0, 0) 1px solid;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);

    cursor: pointer;
}

.description-title {
    /* Display */
    margin: 5px 0 5px 5px;

    /* Font */ 
    font-size: 13px;
    font-weight: 600;
}

.task-description-spacer {
    /* Display */
    height: 1px;
    width: 180px;
    margin-left: 5px;
    border-bottom: #211A1D solid 1px;
}

.task-description {
    /* Display */
    border: transparent solid 1px;
    margin: 2px 5px 1px 5px;
    min-height: 13.9px;
    max-height: 206px;

    /* Font */ 
    font-size: 12px;
    word-break: break-word;
    white-space: pre-wrap;
}

.task-description:hover {
    /* Colour */
    background-color: #acbcac;
    cursor: pointer;
}

.task-description-input {
    all: unset;

    /* Display */
    margin: 0 5px 0 5px;
    min-height: 42px;
    max-height: 182px;
    height: none;
    width: 178.33px;
    border: #211A1D solid 1px;

    /* Colour */
    background-color: #ffffff;

    /* Text */ 
    font-size: 12px;
    word-break: break-word;
    overflow: hidden;
}

.task-description-submit {
    all: unset;

    /* Display */
    height: 20px;
    width: 85px;
    border-radius: 99px;
    margin-left: 5px;
    margin-bottom: 3px;

    /* Colour */
    background-color: rgb(55, 55, 251);
    color: white;

    /* Text */
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.task-description-submit:hover {
    /* Colour */
    background-color: rgb(112, 112, 249);

    cursor: pointer;
}

.close-description-input {
    all: unset;

    /* Display */
    height: 18px;
    width: 19px;
    border: transparent solid 1px;
    padding-top: 1.5px;
    border-radius: 99px;
    margin-bottom: 3px;

    /* Colour */
    color: black;

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 11px;
}

.close-description-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    background-color: #8c948c;

    cursor: pointer;
}

.add-task-container {
    /* Display */
    display: flex;
    align-items: center;
    height: 24px;
    border-radius: 4px;
    margin: 8px 0;

    /* Font */
    font-size: 13px;

    /* Colour */
    color: #3b2f34;
}

.add-task-container:hover {
    /* Colour */
    background-color: #acbcac;
}

.task-name-input {
    /* Display */
    width: 96%;
    margin: 4px 0 4px 0;
    
}

.submit-close-container {
    /* Display */
    margin-bottom: 3px;
}

.task-name-submit {
    all: unset;

    /* Display */
    height: 20px;
    width: 60px;
    border-radius: 99px;

    /* Colour */
    background-color: rgb(55, 55, 251);
    color: white;

    /* Text */
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.task-name-submit:hover {
    /* Colour */
    background-color: rgb(112, 112, 249);

    cursor: pointer;
}

.close-task-input {
    all: unset;

    /* Display */
    height: 18px;
    width: 19px;
    border: transparent solid 1px;
    padding-top: 1.5px;
    border-radius: 99px;

    /* Colour */
    color: black;

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 11px;
}

.close-task-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    background-color: #8c948c;

    cursor: pointer;
}

.drop-target {
    /* Display */
    width: 190px;
}

.drop-placeholder-task {
    /* Display */
    display: flex;
    align-items: center;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    /* Colour */
    color: black;
    background-color: #F8F0FB;
}

.delete-task-container {
    /* Display */
    display: flex;
    justify-content: end;
    margin: 0 5px 0 5px;
    padding: 5px 0 5px 0;
    width: 180px;
    border-top: #211A1D solid 1px;
}

.delete-task {
    /* Display */
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: #211A1D solid 1px;
}

.delete-task:hover {
    background-color: #d9c4cd;
    color: #4e3f45;

    cursor: pointer;
}

.trash-svg-2 {
    font-size: 14px;
}

.hidden {
    /* Display */
    display: none;
}

.darken {
    background-image: linear-gradient(rgb(0 0 0/60%) 0 0)
}

.darken:hover {
    border: white 1px solid;
    background-image: linear-gradient(rgb(0 0 0/60%) 0 0);

    cursor: default;
}

#hidden-span {
    visibility: hidden;
    white-space: pre; /* Preserve spaces and exact text width */
    position: absolute;
}
.span-container {
    position: relative; /* Keep elements positioned properly */
}

.spinner-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1023px;
    height: 150px;
}

.spinner {
    /* Display */
    width: 25px;
    height: 25px;
    border: 12px solid #8c948c;
    border-top: 12px solid #211A1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.red {
    /* Colour */
    background-color: red;
}
.orange {
    /* Colour */
    background-color: orange;
}
.yellow {
    /* Colour */
    background-color: yellow;
}
.green {
    /* Colour */
    background-color: green;
}
.blue {
    /* Colour */
    background-color: blue;
}
.purple {
    /* Colour */
    background-color: purple;
}

.check {
    /* colour */
    color: white;
}

.indicators {
    /* Display */
    margin-top: 3px;
    padding-left: 5px;
    padding-top: 2px;
    width: 11%;
    height: 25px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}