body {
    /* Display */
    margin: 0;

    /* Colour */
    color: white;
    background-color: #F8F0FB;

    /* Font */
    font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
    /* Display */
    display: grid;
    grid-template-columns: 768px 153.6px 102.4px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px white solid;

    /* Colour */
    color: white;
    background-color: #211A1D;

}

.header-link {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    /* Colour */
    color: white;
    background-color: #211A1D;

    /* Font */
    text-decoration: none;
}

.header-link:hover {
    color: rgb(228, 158, 158);
    background-color: #392c32;
}

/* Section 1 */

.title-container {
    /* Display */
    padding-left: 20px;
    justify-self: start;
}

.title {
    /* Display */
    margin-left: 20px;
    height: 23px;
    white-space: pre;
    width: auto;

    /* Text */
    font-weight: 700;
    font-size: 20px;
}

.title:hover {
    /* Display */
    outline: solid rgb(108, 108, 108) 1px;
}

.change-title {
    all: unset;
    white-space: pre;

    /* Display */
    height: 22px;
    margin: 18px 0 18px 17.466px;
    border: solid white 1px;
    padding: 2px;
    width: auto;

    /* Colour */
    color: white;
    background-color: black;

    /* Text */
    font-size: 20px;
    font-weight: 700;
}

.container-container{
    /* Display */
    display: flex;
    align-items: flex-start;
}

.new-stage-container {
    /* Display */
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;

    /* Colour */
    color: black;
    background-color: #CAD5CA;
}

.new-stage-container:hover {
    /* Colour */
    color: black;
    background-color: rgb(159, 158, 158);
}

i {
    /* Display */
    padding-left: 5px;
    padding-right: 5px;
} 

.new-stage-text {
    flex-grow: 1;
}

.new-stage-expanded-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    flex-shrink: 0;
    width: 190px;
    height: 60px;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    margin: 20px;

    /* Colour */
    color: black;
    background-color: #CAD5CA;
}


.stage {
    /* Display */
    flex-shrink: 0;
    align-items: center;
    width: 190px;
    border-radius: 10px;
    margin: 20px;
    padding-left: 5px;
    padding-right: 5px;

    /* Colour */
    color: #211A1D;
    background-color: #CAD5CA;
}

.name-and-delete {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    border-bottom: #3b2f34 1px solid;
}

.stage-name {
    /* Font */
    font-weight: 600;
}

.stage-name-input {
    /* Display */
    width: 96%;
}

.stage-name-submit {
    all: unset;

    /* Display */
    height: 25px;
    width: 80px;
    border-radius: 99px;

    /* Colour */
    background-color: rgb(55, 55, 251);
    color: white;

    /* Text */
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.stage-name-submit:hover {
    /* Colour */
    background-color: rgb(112, 112, 249);

    cursor: pointer;
}

.close-stage-input {
    all: unset;

    /* Display */
    height: 22px;
    width: 25px;
    border: transparent solid 1px;
    padding-top: 1.5px;
    border-radius: 99px;

    /* Colour */
    color: black;

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 15px;
}

.close-stage-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    background-color: #8c948c;

    cursor: pointer;
}

.more-options {
    /* Position */
    position: relative;
    
}

.deleteStage {
    /* Position */
    position: absolute;
    left: -10px;
    top: -12px;

    /* Display */
    height: 15px;
    width: 100px;
    border: red solid 1px;
    border-radius: 5px;
    padding: 10px 0 10px 0;

    /* Colour */
    background-color: white;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.deleteStage:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.task {
    /* Display */
    display: flex;
    align-items: center;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    /* Colour */
    color: #211A1D;
    background-color: #8c948c;
}

.task-text {
    /* Display */
    padding-left: 5px;

    /* Font */ 
    font-size: 15px;
    font-weight: 200;
}

.add-task-container {
    /* Display */
    display: flex;
    align-items: center;
    height: 24px;
    border-radius: 4px;
    margin: 8px 0;

    /* Font */
    font-size: 13px;

    /* Colour */
    color: #3b2f34;
}

.add-task-container:hover {
    /* Colour */
    background-color: #acbcac;
}

.task-name-input {
    /* Display */
    width: 96%;
    margin: 4px 0 4px 0;
    
}

.submit-close-container {
    /* Display */
    margin-bottom: 3px;
}

.task-name-submit {
    all: unset;

    /* Display */
    height: 20px;
    width: 60px;
    border-radius: 99px;

    /* Colour */
    background-color: rgb(55, 55, 251);
    color: white;

    /* Text */
    text-align: center;
    font-size: 11px;
    font-weight: 500;
}

.task-name-submit:hover {
    /* Colour */
    background-color: rgb(112, 112, 249);

    cursor: pointer;
}

.close-task-input {
    all: unset;

    /* Display */
    height: 18px;
    width: 19px;
    border: transparent solid 1px;
    padding-top: 1.5px;
    border-radius: 99px;

    /* Colour */
    color: black;

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 11px;
}

.close-task-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    background-color: #8c948c;

    cursor: pointer;
}

.drop-target {
    /* Display */
    width: 190px;
}

.drop-placeholder-task {
    /* Display */
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    /* Colour */
    color: black;
    background-color: #F8F0FB;
}

.hidden {
    /* Display */
    display: none;
}

#hidden-span {
    visibility: hidden;
    white-space: pre; /* Preserve spaces and exact text width */
    position: absolute;
}
.span-container {
    position: relative; /* Keep elements positioned properly */
}

.spinner-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1023px;
    height: 150px;
}

.spinner {
    /* Display */
    width: 25px;
    height: 25px;
    border: 12px solid #8c948c;
    border-top: 12px solid #211A1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}