:root {
    /* Colours */
    --background-1: black;
    --background-1-hover: rgb(51, 51, 51);
    --background-2: rgb(21, 19, 19);
    --background-3: rgb(48, 27, 27);
    --background-4: #1dba59;
    --background-4-hover: #44e882;
    --background-5: #8c948c;
    --background-5-hover: #ccdccc;

    --text-1: white;
    --text-2: black;
}

body {
    /* Display */
    margin: 0;
    width: max-content;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-1);

    /* Font */
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
    /* Display */
    display: grid;
    grid-template-columns: 15fr 3fr 2fr;
    min-width: 100vw;
    height: 94.5px;
    justify-items: center;
    align-items: center;
    border-bottom: 1px white solid;
    box-sizing: border-box;

    /* Colour */
    color: white;
    background-color: var(--background-2);

}

.header-link {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    /* Colour */
    color: white;

    /* Font */
    font-size: 24px;
    text-decoration: none;
}

.header-link:hover {
    color: var(--background-4-hover);
    background-color: #392c32;
    cursor: pointer;
}

.new-taskboard {
    cursor: pointer;
    padding-right: 20px;
}

.title-container {
    /* Display */
    justify-self: start;
}

.title {
    /* Display */
    margin-left: 60px;
    margin-bottom: 29px;
    height: 33px;
    white-space: pre;
    border: solid transparent 1px;
    width: auto;

    /* Text */
    font-weight: 700;
    font-size: 30px;
}

.title:hover {
    /* Display */
    outline: solid rgb(108, 108, 108) 1px;
    color: var(--background-4-hover);
}

.change-title {
    all: unset;
    white-space: pre;

    /* Display */
    height: 33px;
    margin: 30px 0 27px 60px;
    border: solid var(--text-1) 1px;
    width: auto;

    /* Colour */
    color: var(--background-4-hover);
    background-color: var(--background-1);

    /* Text */
    font-size: 30px;
    font-weight: 700;
}

.container-container{
    /* Display */
    display: flex;
    align-items: flex-start;
    
}

/* Stage related CSS */

/* New Stage */

.new-stage-container {
    /* Display */
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 295px;
    height: 45px;
    border-radius: 15px;
    margin: 30px;
    padding: 7.5px 0 7.5px 5px;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-4);

    /* Text */
    font-weight: 600;
    font-size: 24px;
}

.new-stage-container:hover {
    /* Colour */
    background-color: var(--background-4-hover);

    cursor: pointer;
}

i {
    /* Display */
    padding-left: 7.5px;
    padding-right: 7.5px;
} 

.new-stage-text {
    flex-grow: 1;
}

.new-stage-expanded-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    flex-shrink: 0;
    width: 285px;
    height: 90px;
    border-radius: 15px;
    padding: 7.5px 7.5px 0 7.5px;
    margin: 30px;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-3);
}

.stage-name-input {
    /* Display */
    height: 26px;
    width: 96%;

    /* Colour */
    color: var(--text-2);
    background-color: var(--text-1);

    /* Text */
    font-size: 24px;
}

.stage-name-submit {
    all: unset;

    /* Display */
    height: 37.5px;
    width: 120px;
    border-radius: 99px;

    /* Colour */
    background-color: var(--background-4);
    color: var(--text-1);

    /* Text */
    text-align: center;
    font-size: 19.5px;
    font-weight: 500;
}

.stage-name-submit:hover {
    /* Colour */
    background-color: var(--background-4-hover);

    cursor: pointer;
}

.close-stage-input {
    all: unset;

    /* Display */
    height: 33px;
    width: 37.5px;
    border: transparent solid 1px;
    padding-top: 2.25px;
    border-radius: 99px;

    /* Colour */
    color: var(--text-1);

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 22.5px;
}

.close-stage-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    background-color: var(--background-5);

    cursor: pointer;
}

/* Stages */

.stage {
    /* Display */
    flex-shrink: 0;
    align-items: center;
    width: 285px;
    border-radius: 15px;
    margin: 30px;
    padding-left: 7.5px;
    padding-right: 7.5px;

    /* Colour */
    color: var(--text-1);
    background-color: var(--background-3);
}

.name-and-delete {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding-left: 7.5px;
    padding-top: 7.5px;
    border-bottom: var(--text-1) 1px solid;
}

.stage-name {
    /* Display */
    flex-grow: 1;
    height: 27px;
    border: 1px solid transparent;

    /* Text */
    font-weight: 600;
    font-size: 24px;
}
.stage-name:hover {
   /* Colour */
    border-color: var(--background-5);
    color: var(--background-4-hover);
    cursor: pointer;
}

.rename-stage {
    /* Display */
    width: 251px;
    padding: 0;
    border: var(--text-2) solid 1px;
    height: 27px;

    /* Text */
    font-weight: 600;
    font-size: 24px;
}

.more-options {
    /* Position */
    position: relative;
    
    /* Text */
    font-size: 24px;
}

.move-left {
    /* Position */
    position: absolute;
    left: 37.5px;
    top: -10.5px;

    /* Colour */
    color: rgb(19, 134, 43);
    background-color: white;

    /* Display */
    height: 22.5px;
    width: 22.5px;
    border: rgb(19, 134, 43) solid 1px;
    border-radius: 7.5px;
    padding: 7.5px 6px 7.5px 9px;
}

.move-left:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.fa-arrow-left {
    padding: 0;
    margin: 0;
}

.move-right {
    /* Position */
    position: absolute;
    left: 37.5px;
    top: 34.5px;

    /* Colour */
    color: rgb(96, 29, 254);
    background-color: white;

    /* Display */
    height: 22.5px;
    width: 22.5px;
    border: rgb(96, 29, 254) solid 1px;
    border-radius: 7.5px;
    padding: 7px 7.5px 8px 7.5px;
}

.move-right:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.fa-arrow-right {
    padding: 0;
    margin: 0;
}

.delete-stage {
    /* Position */
    position: absolute;
    left: 37.5px;
    top: 76.5px;

    /* Display */
    height: 22.5px;
    width: 22.5px;
    border: red solid 1px;
    border-radius: 7.5px;
    padding: 9px 7.5px 6px 7.5px;

    /* Colour */
    color: rgb(131, 5, 5);
    background-color: white;

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 19.5px;
    font-weight: 300;
    text-align: center;
}

.delete-stage:hover {
    /* Colour */
    background-color: rgb(167, 159, 159);

    cursor: pointer;
}

.fa-trash {
    padding: 0;
}

/* Task CSS */

/* Task */

.task-container {
    /* Position */
    position: relative;
}

.task {
    /* Position */
    position: relative;

    /* Display */
    width: 285px;
    min-height: 45px;
    border-radius: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;

    /* Colour */
    color: var(--text-2);
    background-color: var(--background-5-hover);
}

.task-hover:hover {
    /* Colour */
    background-color: var(--background-5);

    cursor: pointer;
}

.task-text {
    /* Display */
    padding-top: 10.5px;
    padding-left: 7.5px;

    /* Font */ 
    font-size: 22.5px;
    font-weight: 200;
}

.description-indicator {
    /* Display */
    padding-top: 4.5px;
    padding-bottom: 7.5px;
    margin-left: 0;
    padding-left: 0;
    grid-column: 1;
    grid-row: 1;

    /* Text */
    font-size: 25px;
}

.more-button {
    /* Font */
    font-size: 15px;
}

/* Task Expanded */

.task-expanded-container {
    /* Position */
    position: absolute;
    top: 0;
    z-index: 2;

    /* Display */
    width: 285px;
    border-radius: 15px;

    /* Colour */
    background-color: var(--background-5-hover);
} 

.expanded-task-text {
    /* Display */
    display: flex;
    width: 270px;
    border-bottom: var(--background-1) solid 1px;
    margin: 0 7.5px 0 7.5px;
}

.task-name {
    /* Display */
    flex-grow: 1;
    min-height: 26px;
    margin: 9.75px 0 6px 0;
    border: transparent solid 1px;

    /* Font */ 
    font-size: 22.5px;
    font-weight: 600;
}
.task-name:hover {
    /* Colour */
    background-color: var(--text-1);
    cursor: pointer;
}

.rename-task {
    all: unset;

    /* Display */
    width: 268.4px;
    margin: 9.75px 0 6px 0;
    padding: 0;
    border: var(--background-1) 1px solid;

    /* Colour */
    background-color: var(--text-1);

    /* Font */ 
    font-size: 22.5px;
    font-weight: 600;
    word-break: break-word;
    overflow: hidden;
}

.colour-container {
    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 12px 7.5px;

    /* Font */ 
    font-size: 19.5px;
    font-weight: 600;
}

.task-colour-container {
    /* Position */
    position: relative;

    /* Display */
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181.5px;
    height: 35.79px;
    margin-right: 18px;
    border: var(--background-1) solid 1px;
    border-radius: 99px;
}

.task-colour-container:hover {
    /* Display */
    background-color: var(--background-3);

    cursor: pointer;
}

.task-colour {
    /* Display */
    height: 19.29px;
    padding-top: 1px;
    width: 166.5px;
    border-radius: 99px;

    /* Text */
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.colour-title {
    /* Display */
    height: 24px;
}

.task-colour-list {
    /* Position */
    position: absolute;
    z-index: 3;
    top: -0.533px;
    left: -0.533px;

    /* Display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 181.5px;
    height: 165px;
    border-radius: 17px;
    border: 1px solid transparent;
    padding: 7.5px 0 7.5px 0;

    /* Colour */
    background-color: var(--background-5);
}

.task-colour-list:hover {
    cursor: default;
}

.task-colour-select {
    /* Display */
    display: flex;
    justify-content: center;
    border: transparent solid 1px;
    border-radius: 99px;
    width: 166.5px;
    height: 20.8px;
    border: var(--text-1) 1px solid;
}

.task-colour-select:hover {
    border: var(--text-2) 1px solid;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);

    cursor: pointer;
}

.description-title {
    /* Display */
    margin: 7.5px 0 7.5px 7.5px;

    /* Font */ 
    font-size: 19.5px;
    font-weight: 600;
}

.task-description-spacer {
    /* Display */
    height: 1px;
    width: 270px;
    margin-left: 7.5px;
    border-bottom: var(--background-1) solid 1px;
}

.task-description {
    /* Display */
    border: transparent solid 1px;
    margin: 3px 7.5px 1.5px 7.5px;
    min-height: 20.85px;
    max-height: 273px;

    /* Colour */
    background-color: var(--background-5-hover);

    /* Font */ 
    font-size: 18px;
    word-break: break-word;
    white-space: pre-wrap;
}

.task-description:hover {
    /* Colour */
    background-color: var(--text-1);
    cursor: pointer;
}

.task-description-input {
    all: unset;

    /* Display */
    margin: 0 7.5px 0 7.5px;
    min-height: 63px;
    max-height: 273px;
    height: none;
    width: 267.5px;
    border: var(--background-1) solid 1px;

    /* Colour */
    background-color: var(--text-1);

    /* Text */ 
    font-size: 18px;
    word-break: break-word;
    overflow: hidden;
}

.task-description-submit {
    all: unset;

    /* Display */
    height: 30px;
    width: 127.5px;
    border-radius: 99px;
    margin-left: 7.5px;
    margin-bottom: 4.5px;

    /* Colour */
    background-color: var(--background-4);
    color: var(--text-1);

    /* Text */
    text-align: center;
    font-size: 16.5px;
    font-weight: 500;
}

.task-description-submit:hover {
    /* Colour */
    background-color: var(--background-4-hover);

    cursor: pointer;
}

.close-description-input {
    all: unset;

    /* Display */
    height: 27px;
    width: 28.5px;
    border: transparent solid 1px;
    padding-top: 2.25px;
    border-radius: 99px;
    margin-bottom: 4.5px;

    /* Colour */
    color: var(--background-1);

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 16.5px;
}

.close-description-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    color: var(--text-2);
    background-color: var(--background-5);

    cursor: pointer;
}

.add-task-container {
    /* Display */
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 6px;
    margin: 12px 0;

    /* Font */
    font-size: 19.5px;

    /* Colour */
    color: var(--text-1);
}

.add-task-container:hover {
    /* Colour */
    color: var(--text-2);
    background-color: var(--background-5);
}

.task-name-input {
    all: unset;

    /* Display */
    width: 96%;
    margin: 6px 0 6px 0;
    padding: 1px;
    height: 26px;
    border: solid var(--background-1) 1px;

    /* Colour */
    color: var(--text-2);
    background-color: white;

    /* Text */
    vertical-align: top;
    text-align: left; 
    font-size: 22.5px;
    word-break: break-word;
    overflow: hidden;
}

.submit-close-container {
    /* Display */
    margin-bottom: 4.5px;
}

.task-name-submit {
    all: unset;

    /* Display */
    height: 30px;
    width: 90px;
    border-radius: 99px;

    /* Colour */
    background-color: var(--background-4);
    color: var(--text-1);

    /* Text */
    text-align: center;
    font-size: 16.5px;
    font-weight: 500;
}

.task-name-submit:hover {
    /* Colour */
    background-color: var(--background-4-hover);

    cursor: pointer;
}

.close-task-input {
    all: unset;

    /* Display */
    height: 27px;
    width: 28.5px;
    border: transparent solid 1px;
    padding-top: 2px;
    border-radius: 99px;

    /* Text */
    text-align: center;
    vertical-align: bottom;
    font-size: 16.5px;
}

.close-task-input:hover {
    /* Display */
    border: #3b2f34 solid 1px;

    /* Colour */
    color: var(--text-2);
    background-color: var(--background-5);

    cursor: pointer;
}

.drop-target {
    /* Display */
    width: 285px;
}

.drop-placeholder-task {
    /* Display */
    display: flex;
    align-items: center;
    width: 285px;
    height: 45px;
    border-radius: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;

    /* Colour */
    background-color: var(--background-4-hover);
}

.delete-task-container {
    /* Display */
    display: flex;
    justify-content: end;
    margin: 0 7.5px 0 7.5px;
    padding: 7.5px 0 7.5px 0;
    width: 270px;
    border-top: var(--background-1) solid 1px;
}

.delete-task {
    /* Display */
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 7.5px;
    border: var(--background-1) solid 1px;
}

.delete-task:hover {
    background-color: var(--background-1);
    color: var(--text-1);

    cursor: pointer;
}

.trash-svg-2 {
    font-size: 21px;
}

.hidden {
    /* Display */
    display: none;
}

.darken {
    background-image: linear-gradient(rgb(0 0 0/60%) 0 0)
}

.darken:hover {
    border: white 1px solid;
    background-image: linear-gradient(rgb(0 0 0/60%) 0 0);

    cursor: default;
}

#hidden-span {
    visibility: hidden;
    white-space: pre; /* Preserve spaces and exact text width */
    position: absolute;
}
.span-container {
    position: relative; /* Keep elements positioned properly */
}

.spinner-container {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1534.5px;
    height: 225px;
}

.spinner {
    /* Display */
    width: 37.5px;
    height: 37.5px;
    border: 18px solid #8c948c;
    border-top: 18px solid #211A1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.red {
    /* Colour */
    background-color: red;
}
.orange {
    /* Colour */
    background-color: orange;
}
.yellow {
    /* Colour */
    background-color: yellow;
}
.green {
    /* Colour */
    background-color: green;
}
.blue {
    /* Colour */
    background-color: blue;
}
.purple {
    /* Colour */
    background-color: purple;
}

.check {
    /* colour */
    color: var(--text-1);
}

.indicators {
    /* Display */
    margin-top: 4.5px;
    padding-left: 7.5px;
    padding-top: 3px;
    width: 11%;
    height: 37.5px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}